*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: seagreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: peru;
  width: 1080px;
  height: 900px;
  display: flex;
}

#left-panel {
  flex-grow: 1;
  border-right: 3px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    display: flex;
    width: 100%;
    .nav-btn {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
    }

    .nav-btn:hover {
      background-color: lightgray;
    }

    .nav-btn:nth-of-type(1) {
      flex-grow: 1;
    }
    .nav-btn:nth-of-type(2) {
      flex-grow: 1;
    }
  }

  section {
    flex-grow: 1;
    width: 100%;
    padding: 15px;
  }

  footer {
    height: 50px;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#budget-list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-bottom: 2px solid black;
  }

  li:hover {
    border-bottom: 2px solid green;
  }
}

#right-panel {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  text-decoration: underline;
}
